.dn{
	display: none !important;
}
.cerrar{
	position: absolute;
	top: 5%;
	right: 5%;
	color: #fff;
	background: #000;
	padding: 1%;
}
.active{
	background: rgb(0, 110, 161) !important;
	color: #fff !important;
}
.minifoto
{
	max-width: 50px;
	width: 50px;
	max-height: 50px;
	height: 50px;
	border-radius: 50%;
}
.imgperfil
{
	max-width: 200px;
	max-height: 200px;
	border-radius: 50%;
}

.menu-name
{
	color: #fff;
	text-transform: uppercase
}

div.modalmsg
{
	display: none;
	position:absolute;
	top:0;
	background:rgba(250,250,250,.5);
	padding:4em;
	width:100%;
	height:100%;
}

div.modalcontainer
{
	width: 50%;
	margin:auto;
}